.contain-converter{
    background-color: #f9faff; 
    background-image: url('../media/falling-dollar-coins-success-luck-money-investment-concept_1262-13463__1_-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: 100vh; */
}