.links-menu{
    color: white !important;
    font-weight: 700;

}
/* #table_id_filter{
    display: none;
} */
#table_id_filter label input, #table_id2_filter label input{
    border: none;
}
#table_id_filter, #table_id2_filter{
	margin-bottom: 5px;
    background-color: white;
    border-radius: 15px;
    padding-left: 14px;
    border: solid 1px;
}
.current{
    position: relative;
    line-height: 1.25;
    background: #fff !important;
    border-radius: 24px !important;
}
#table_id2_info,#table_id_info{
    display: none;
}
#table_id,#table_id2{
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: -1px 7px 5px -3px rgb(107 104 107 / 64%);
    -moz-box-shadow: -1px 7px 5px -3px rgba(107, 104, 107, 0.64);
    box-shadow: -1px 7px 5px -3px rgb(107 104 107 / 64%);
}
.even{
    border: 0px;
}
.dataTables_length{
    display: none;
}
.contain-min{
	min-height: 600px; /* need by the ionic app, until we convert all to progressive app*/
	max-height: max-content; /* need by the ionic app, until we convert all to progressive app*/
}
.contain-index{
    height: 100vh !important; 
    background-image: url('../media/currency-coins-and-bank-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
}
.contain-currency{
    height: 100vh !important; 
    background-image: url('../media/currency-data-money-currency.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.contain-history{
    height: 100vh !important; 
    background-image: url('../media/currency-history-media.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.contain-homesession{
    height: 100vh !important; 
    background-image: url('../media/currencyhome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
