.contain-login{
    height: 100vh !important; 
    background-image: url('../media/bitcoin-moneda-activo-financiero-inflaccioÌn.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
}
@media screen and (min-width:800px) {
    .contain-login{
        height: 100vh !important; 
    }
}