.contain-fund{
    display: none;
    width: 0;
}
.contain-login{
    height: 85vh !important; 
}
@media screen and (min-width:800px) {
    .contain-login{
        height: 100vh !important; 
    }

    .contain-fund{
        width: 50vw;
        height: 100%;
        background-color: #3BD671;
        border-radius: 0px 50% 8px 50%;
    }
}